name: whatsapp_stickers_plus
description: WhatsApp Stickers plugin for Flutter.
version: 1.0.0
homepage: https://github.com/anderscheow/whatsapp_stickers_plus

environment:
  sdk: '>=2.16.0 <3.0.0'
  flutter: ">=1.10.0"

dependencies:
  flutter:
    sdk: flutter
  meta: ^1.1.8

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
  plugin:
    platforms:
      android:
        package: dev.applicazza.flutter.plugins.whatsapp_stickers_plus
        pluginClass: WhatsappStickersPlugin
      ios:
        pluginClass: WhatsappStickersPlugin
